

.main {

  $grid-template-columns-layout: "[full-start] minmax(1rem,1fr)\
  [main-start] minmax(0,var(--container-width)) [main-end]\
  minmax(1rem,1fr)[full-end]";
  display: grid;
  width: 100%;
  // grid-template: "head head head"
  //                ". content .";
  grid-template-rows: 100vh auto;
  grid-template-columns: #{$grid-template-columns-layout};
}

.head {
  grid-column: full;
  // grid-area: head;
}

.content {
  grid-column: main;
  // grid-area: content;
}
