@import "variables";
@import "../../node_modules/normalize-scss/sass/normalize";

$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

:root {
  --theme-color-1: #4d4d4d;
  --theme-color-2: #ffffff;
  --main-font-color: var(--theme-color-1);
  --main-font-stack: $font-stack;
}

@include normalize();

/* Styles */
body {
  font: 14px var(--main-font-stack);
  line-height: 1.2;
  color: var(--main-font-color);
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
