@import "../styles/variables";

.main {

  display: grid;
  width: 100%;
  // grid-template: "head head head"
  //                ". content .";
  grid-template-rows: 100vh auto;
  grid-template-columns: #{$grid-template-columns-layout};
}

.head {
  grid-column: full;
  position: sticky;
  top: calc(-100vh + 5rem);
  // grid-area: head;
}

.navigation {
  grid-column: main;
  position: sticky;
  top: 5rem;
}

.content {
  grid-column: main;
  // grid-area: content;
}
