

.nav-item {
  background-color: var(--theme-color-1);
  width:100%;
  color: var(--theme-color-2);
  text-decoration: none;
  padding: 0.5rem;
  transition: background-color 0.25s ease;
}

.active {
  background-color: var(--theme-color-3);
}



.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right:0;
}
